/* ------------------------------------------ Bouton burger */
.burger {
    display : flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: auto;
    @media screen and (min-width : $largeur__tablette) {
       display :none; 
    }
}

#chkMenu {
    display : none;
    // width: 5em;
    // height:5em;
}