.site__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #C1D1FD;
    padding: 2%;
    // text-align:center;
}

.site__footer section {
    border : 1px solid #aaa;
    flex : 1 1  200px;
    padding: 2%;
}
